.footer {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3C000000,endColorstr=#3C000000);
  zoom: 1;
  margin: auto;
  color:antiquewhite;
  padding-bottom: 0px;
  /*margin-top: 20px;*/
  background-color: rgb(9, 5, 32);
  width: 100%; /* Ajusta el ancho al 100% */
  height: 25px; /* Ajusta la altura según sea necesario */
}


  
  
  .footer_cover {
    position: absolute;
    height: 20px;
    margin-top: 20px;
    margin-left: 5%;
    bottom: 0px;
    background: transparent;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3C000000,endColorstr=#3C000000);
    zoom: 1;
    width: 100%;
    color: #494969;
  }
  
  @media all and (max-width: 600px) {
  
    .footer_hobbie_details {
      font-size: 14px;
      padding-left: 3%;
    }
  }
  