.login-container .form-group label,
.login-container .form-group input,
.login-container .form-group select,
.login-container .form-group option {
    font-size: 1em;
}

.form-control {
    padding: 0.5em;
    font-size: 1.2em;
}

select.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-right: 2.5em;
}

.button-login {
    margin-top: 15px;
    background-color: #092b11;
    border: 1px solid black;
    display: block;
    width: 100%;
}

.fondoBlanco {
    background-color: #0f360f64;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-green {
    background-color: #3d6948;
}

label,
h2 {
    color: aliceblue;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
    -webkit-text-fill-color: #000 !important;
}

input:-webkit-autofill-delay {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

.card {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    margin: auto;
}

.button-login:focus,
.button-login:active {
    outline: none;
    background-color: #3d6948;
}

.btn.btn-primary {
    border: none;
}

.btn.btn-primary:hover {
    background-color: #e1ede164;
}

.btn.btn-primary:focus {
    background-color: #0f360f64;
    border: none;
    box-shadow: none;
}

input.form-control:focus,
select.form-control:focus {
    border-color: #0b0c0e;
    box-shadow: 0 0 0 0.2rem rgba(22, 24, 25, 0.25);
}