

.tituloLogin{
    color: rgb(0, 0, 0);/* Cambia el color del texto a negro */
    text-align: center;
    padding: 10px 0; /* Añade un poco de espacio alrededor del texto */
    font-size: 35px;
    font-weight: 700;
    width: 50%; /* Ancho del borde */
    margin: auto; /* Centra el borde horizontalmente */
    margin-bottom: 30px;
}


.fondoLogin {
    padding-top: 10%;
    background-color:rgb(241, 241, 241);/* Cambia el color del texto a negro */
    height: 100vh; /* Altura del 100% del viewport */
  }

.formularioLogin{    
    background-color: rgb(255, 255, 255); /* Borde inferior de 2px */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave */
    border-radius: 5px;
}

/***********************************Boton************************************/


.botonLogin{
    margin-top: 10px;
    display: flex; 
    justify-content: center; 
    align-items: center;
}



.botonLogin .btn{
    width: 30%;
    background-color: #01502f; 
    border-color: transparent;
}

.botonLogin .btn:hover {
    border-color: transparent !important;
    background-color: #02663b; 
}


.botonLogin .btn:active {
    border-color: transparent !important;
    background-color: #03150d !important; /* Cambia el color de fondo cuando se selecciona */
}


