.logo_container {
    flex: 1; /* Hace que el contenedor del logo ocupe todo el espacio disponible */
    display: flex; /* Usa flexbox para manejar el layout */
    justify-content: flex-end; /* Alinea el contenido a la derecha */
    align-items: center; /* Centra verticalmente los elementos */
}

.logo {
    font-weight: 400px;
    color:aliceblue;
}

.imgHeader {
    width: 100px;
    height: 20px;
    margin-right: 20px;
    /* Ajusta el margen izquierdo para separar la imagen del borde derecho */
}