.nav_links {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0; /* Elimina los márgenes para evitar desplazamientos */
  padding: 0; /* Elimina el relleno para evitar desplazamientos */
}
  
.nav_link {
  color:aliceblue;
  font-size: 25px;
  text-decoration: none !important;
  margin-left: 5px;
  border: none; /* Elimina cualquier borde que pueda estar causando el subrayado */
  outline: none; /* Elimina el contorno en caso de que esté causando el subrayado */

}

.nav-link {
  color:aliceblue;
  font-size: 20px;
  text-decoration: none !important;
  margin-left: 15px;
  border: none; /* Elimina cualquier borde que pueda estar causando el subrayado */
  outline: none; /* Elimina el contorno en caso de que esté causando el subrayado */

}


  
  @media all and (min-width: 900px) {
    .popup_menu {
      display: none;
    }
    .menu {
      display: none;
    }
  
    .nav_link {
      font-size: 18px;
    }
  }
  