
/***********************************Orden********************************/
.order {
    background-color: #0f360f64;
    margin-bottom: 0; /* Elimina el margen inferior */
    height: 280vh;
}

.order h2 {
    color: black;
    text-align: center;
    padding: 10px 0; /* Añade un poco de espacio alrededor del texto */
    font-size: 35px;
    color: rgba(1, 1, 50, 0.7);
    border-bottom: 4px solid rgba(1, 1, 50, 0.7); /* Borde inferior de 2px */
    width: 50%; /* Ancho del borde */
    margin: auto; /* Centra el borde horizontalmente */
}

/***********************************Inspeccion********************************/

.flex-container-inspeccion .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 300px;
}

.flex-container-inspeccion .form-group label {
    width: 80px;
}

.flex-container-inspeccion .form-group select,
.flex-container-inspeccion .form-group input {
    width: 200px;
    height: 30px;
    font-size: 14px;
    font-weight: 600;
}

.flex-container-inspeccion .form-group select {
    appearance: menulist;
    height: 35px;
}

.flex-container-inspeccion {
    display: flex;
    justify-content: flex-end;


}

.inspeccion {
    margin: 30px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid rgba(1, 1, 50, 0.7); /* Borde inferior de 2px */
}


.inspeccion input {
    width: 100px;
    height: 30px;
}


.inspeccion h4 {
    margin-bottom: 0px;
    text-align: center;
    color: rgba(1, 1, 50, 0.7);
    border-bottom: 2px solid rgba(1, 1, 50, 0.7); /* Borde inferior de 2px */
    width: 50%; /* Ancho del borde */
    margin: auto; /* Centra el borde horizontalmente */
}


/**************************orden-tasacion*********************************/

.ordenUbicacion{
    max-width: 1000px; /* Puedes ajustar este valor según sea necesario */
    margin: auto; /* Centra el formulario horizontalmente */
    padding: 20px; /* Añade un poco de espacio alrededor del formulario */
    border: 2px solid rgba(1, 1, 50, 0.7); /* Borde inferior de 2px */
    margin-bottom: 35px;
    border-radius: 5px;
}

.flex-container-orden-tasacion h4 {
    text-align: center;
    color: rgba(1, 1, 50, 0.7);
    width: 50%; /* Ancho del borde */
    margin: auto; /* Centra el borde horizontalmente */
    margin-bottom: 20px;
    border-bottom: 2px solid rgba(1, 1, 50, 0.7); /* Borde inferior de 2px */

}


.flex-container-orden-tasacion .orden-tasacion {
    padding: 10px; /* Añade un poco de espacio alrededor del formulario */
}

.flex-container-orden-tasacion .form-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* Alinea horizontalmente al inicio */
    margin-bottom: 10px;
    margin-left: auto;
    /* Alinea a la izquierda */
    margin-right: auto;
    /* Alinea a la derecha */
    width: 700px;
    /* Ancho máximo del contenedor */
}

.flex-container-orden-tasacion .form-group input[type="date"],
.flex-container-orden-tasacion .form-group input[type="number"] {
    width: 200px;
    /* Ancho deseado para los inputs de tipo date y number */
    height: 30px;
    font-size: 14px;
    font-weight: 600;
}


.flex-container-orden-tasacion .form-group label {
    width: 120px;
    /* Ancho adecuado para los labels */
    text-align: right;
    /* Alinea el texto a la derecha */
    margin-right: 10px;
    /* Espacio entre el label y el input/select */
}




.flex-container-orden-tasacion .form-group select,
.flex-container-orden-tasacion .form-group input[type="text"] {
    flex: 1;
    /* El input/select ocupará todo el espacio disponible */
    height: 30px;
    font-size: 14px;
    font-weight: 600;
}

.flex-container-orden-tasacion .form-group select {
    height: 35px;
    appearance: menulist
}


/**************************ubicacion inmueble*********************************/

.flex-container-ubicacion-inmueble h4 {
    text-align: center;
    color: rgba(1, 1, 50, 0.7);
    width: 50%; /* Ancho del borde */
    margin: auto; /* Centra el borde horizontalmente */
    margin-bottom: 20px;
    border-bottom: 2px solid rgba(1, 1, 50, 0.7); /* Borde inferior de 2px */
}

.flex-container-ubicacion-inmueble .form-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* Alinea horizontalmente al inicio */
    margin-bottom: 10px;
    margin-left: auto;
    /* Alinea a la izquierda */
    margin-right: auto;
    /* Alinea a la derecha */
    width: 700px;
    /* Ancho máximo del contenedor */
}

.flex-container-ubicacion-inmueble .form-group input[type="date"],
.flex-container-ubicacion-inmueble .form-group input[type="number"] {
    width: 200px;
    /* Ancho deseado para los inputs de tipo date y number */
    height: 30px;
    font-size: 14px;
    font-weight: 600;
}


.flex-container-ubicacion-inmueble .form-group label {
    width: 120px;
    /* Ancho adecuado para los labels */
    text-align: right;
    /* Alinea el texto a la derecha */
    margin-right: 10px;
}


.flex-container-ubicacion-inmueble .form-group select,
.flex-container-ubicacion-inmueble .form-group input[type="text"] {
    flex: 1;
    /* El input/select ocupará todo el espacio disponible */
    height: 30px;
    font-size: 14px;
    font-weight: 600;
}

.flex-container-ubicacion-inmueble .form-group select {
    height: 35px;
    appearance: menulist
}


/**************************Tipo de trabajo*********************************/

.tipoTrabajoRecaudoAntecedente{
    max-width: 1300px; /* Puedes ajustar este valor según sea necesario */
    margin: auto; /* Centra el formulario horizontalmente */
    padding: 20px; /* Añade un poco de espacio alrededor del formulario */
    border: 2px solid rgba(1, 1, 50, 0.7); /* Borde inferior de 2px */
    margin-bottom: 35px;
    border-radius: 5px;
}


.flex-container-tipo-trabajo {
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
    box-sizing: border-box; /* Incluye el padding y el border en el ancho total */
}

.flex-container-tipo-trabajo h4 {
    text-align: center;
    color: rgba(1, 1, 50, 0.7);
    width: 20%; /* Ancho del borde */
    margin: auto; /* Centra el borde horizontalmente */
    margin-bottom: 30px;
    border-bottom: 2px solid rgba(1, 1, 50, 0.7); /* Borde inferior de 2px */
}

.label-tasacion {
    text-align: center;
}


/**************************Recaudos*********************************/


.flex-container-recaudos {
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
    box-sizing: border-box; /* Incluye el padding y el border en el ancho total */
    margin-top: 25px;
}

.flex-container-recaudos h4 {
    text-align: center;
    color: rgba(1, 1, 50, 0.7);
    width: 20%; /* Ancho del borde */
    margin: auto; /* Centra el borde horizontalmente */
    margin-bottom: 30px;
    border-bottom: 2px solid rgba(1, 1, 50, 0.7); /* Borde inferior de 2px */
}

.label-inspeccion {
    text-align: center;
}




/**************************Antecedentes*********************************/

.flex-container-antecedentes {
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
    box-sizing: border-box; /* Incluye el padding y el border en el ancho total */
    margin-top: 25px;
}


.flex-container-antecedentes h4 {
    text-align: center;
    color: rgba(1, 1, 50, 0.7);
    width: 20%; /* Ancho del borde */
    margin: auto; /* Centra el borde horizontalmente */
    margin-bottom: 30px;
    border-bottom: 2px solid rgba(1, 1, 50, 0.7); /* Borde inferior de 2px */
}

.label-antecedentes {
    text-align: center;
}


.flex-container-antecedentes input, .flex-container-antecedentes select{
    width: 200px;
    height: 35px;
    font-size: 14px;
    font-weight: 600;
    appearance: menulist
}




/**************************Pre Observaciones*********************************/

.observacionesPre{
    max-width: 1300px; /* Puedes ajustar este valor según sea necesario */
    margin: auto; /* Centra el formulario horizontalmente */
    padding: 20px; /* Añade un poco de espacio alrededor del formulario */
    border: 2px solid rgba(1, 1, 50, 0.7); /* Borde inferior de 2px */
    margin-bottom: 35px;
    border-radius: 5px;

}

.flex-container-pre-observaciones {
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
    box-sizing: border-box; /* Incluye el padding y el border en el ancho total */
    margin-top: 30px;
}

.flex-container-pre-observaciones h6 {
    text-align: center;
}

.label-pre-observaciones {
    text-align: center;
}


.flex-container-pre-observaciones input{
    width: 200px;
    height: 30px;
    font-size: 14px;
    font-weight: 600;
}


/**************************Observaciones*********************************/


.observaciones {
    margin-top: 50px;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.form-outline-observaciones h4{
    text-align: center;
    color: rgba(1, 1, 50, 0.7);
    width: 20%; /* Ancho del borde */
    margin: auto; /* Centra el borde horizontalmente */
    margin-bottom: 30px;
    border-bottom: 2px solid rgba(1, 1, 50, 0.7); /* Borde inferior de 2px */
}

.form-outline-observaciones {
    width: 80%;
    text-align: center; /* Alinea el contenido horizontalmente */
    margin-bottom: 20px;
}

/*
.form-outline-observaciones textarea {
    width: 100%; 
}*/


/**************************Boton Crear Orden*********************************/

.botonCrearOrden{
    margin-top: 50px;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.botonCrearOrden button{
    margin-top: 15px;
    background-color: #092b11;
    border: 1px solid black;
    display: block;
    width: 15%;
}




















