
/***********************************Orden********************************/
.order {
    /*background-color:whitesmoke;*/
    background-color:rgb(241, 241, 241);/* Cambia el color del texto a negro */
    margin-bottom: 0; /* Elimina el margen inferior */
    height: 180vh;
}

.order h2 {
    color: rgb(0, 0, 0);/* Cambia el color del texto a negro */
    text-align: center;
    padding: 10px 0; /* Añade un poco de espacio alrededor del texto */
    font-size: 35px;
    font-weight: 700;
    border-bottom: 4px solid rgb(0, 0, 0); /* Borde inferior de 2px */
    width: 50%; /* Ancho del borde */
    margin: auto; /* Centra el borde horizontalmente */
    margin-bottom: 30px;
}


.main-container {
    display: flex;
    margin-bottom: 20px;
    margin-left: 20px;
}

/***********************************Inspeccion********************************/

.inspeccionTipoTrabajo {
    flex: 1; /* Ocupa 1 parte de las 3 disponibles */
    margin-left: 10px;
    margin-right: 10px;
}

.flex-container-inspeccion .form-group {

    display: flex;
    align-items: center;
    justify-content:center;
    margin-bottom: 10px;
    margin-top: 10px;

}

.flex-container-inspeccion .form-group label {
    color: #092b11;
    font-size: 16px;
    font-weight: 500;
    width: 80px;
    
}

.flex-container-inspeccion .form-group select,
.flex-container-inspeccion .form-group input {
    width: 200px;
    height: 30px;
    font-size: 14px;
    font-weight: 600;
}

.flex-container-inspeccion .form-group select {
    appearance: menulist;
    height: 35px;
}


.inspeccion {
    margin-bottom: 10px;
    padding: 10px;
    
    background-color: rgb(255, 255, 255); /* Borde inferior de 2px */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave */

    border-radius: 5px;
}


.inspeccion input {
    width: 100px;
    height: 30px;
}


.inspeccion h4 {
    text-align: center;
    color:black;
    font-size: 25px;
    margin: auto; /* Centra el borde horizontalmente */
}


/**************************Tipo de trabajo*********************************/

.tipoTrabajoRecaudoAntecedente{
    justify-content: center;
    padding-top: 10px;
    background-color: rgb(255, 255, 255); /* Borde inferior de 2px */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave */
    border-radius: 5px;
}

.flex-container-tipo-trabajo {
    margin: auto; /* Centra el div horizontalmente dentro de su contenedor */
    width: 80%; /* Asegura que el contenedor ocupe todo el ancho */
    box-sizing: border-box; /* Incluye el padding y el border en el ancho total */
}

.flex-container-tipo-trabajo label {
    color: #092b11;
    font-size: 16px;
    font-weight: 500;

}


.flex-container-tipo-trabajo h4 {
    text-align: center;
    color:black;
    font-size: 25px;
    margin: auto; /* Centra el borde horizontalmente */
    margin-bottom: 30px;
    /*
    border-bottom: 2px solid rgba(1, 1, 50, 0.7); /* Borde inferior de 2px */
}




/**************************Recaudos*********************************/

.flex-container-recaudos .row {
    display: flex; /* Utiliza flexbox para alinear los elementos */
}

.flex-container-recaudos .col {
    flex: 1; /* Distribuye el espacio disponible de manera equitativa entre las columnas */
}


.flex-container-recaudos {
    margin: auto; /* Centra el div horizontalmente dentro de su contenedor */
    width: 80%; /* Asegura que el contenedor ocupe todo el ancho */
    box-sizing: border-box; /* Incluye el padding y el border en el ancho total */
    margin-top: 25px;
}

.flex-container-recaudos h4 {
    text-align: center;
    color:black;
    font-size: 25px;
    margin-bottom: 30px;
    /*
    border-bottom: 2px solid rgba(1, 1, 50, 0.7); /* Borde inferior de 2px */
}

.flex-container-recaudos label {
    color: #092b11;
    font-size: 16px;
    font-weight: 500;
    width: 100px;
    box-sizing: border-box; /* Incluye el padding y el border en el ancho total */
}


.flex-container-recaudos input[type="checkbox"] {
    margin-left: 0px; /* Añade un pequeño margen a la izquierda del checkbox */
}

/**************************Antecedentes*********************************/

.flex-container-antecedentes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding-top: 25px;
}

.flex-container-antecedentes .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}



.flex-container-antecedentes h4 {
    text-align: center;
    color: black;
    font-size: 25px;
    margin-bottom: 30px;
}

.flex-container-antecedentes label {
    color: #092b11;
    font-size: 16px;
    font-weight: 500;
    width: 165px;
    margin-left: 30px;
}

.flex-container-antecedentes input,
.flex-container-antecedentes select {
    width: 200px;
    height: 35px;
    font-size: 14px;
    font-weight: 600;
    appearance: menulist;
}


/**************************Pre Observaciones*********************************/


.flex-container-pre-observaciones {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding-top: 25px;
}

.flex-container-pre-observaciones .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.flex-container-pre-observaciones h4 {
    text-align: center;
    color: black;
    font-size: 25px;
    margin-bottom: 30px;
}

.flex-container-pre-observaciones label {
    color: #092b11;
    font-size: 16px;
    font-weight: 500;
    width: 165px;
    margin-left: 30px;
}

.flex-container-pre-observaciones input,
.flex-container-pre-observaciones select {
    width: 200px;
    height: 35px;
    font-size: 14px;
    font-weight: 600;
    appearance: menulist;
}


/**************************orden-tasacion*********************************/




.ordenUbicacion{
    flex: 2; /* Ocupa 2 partes de las 3 disponibles */
    /*
    max-width: 800px; /* Puedes ajustar este valor según sea necesario */
    padding: 20px; /* Añade un poco de espacio alrededor del formulario */
    background-color: rgb(255, 255, 255); /* Borde inferior de 2px */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave */
    border-radius: 5px;

}

.flex-container-orden-tasacion h4 {
    text-align: center;
    color:black;
    font-size: 25px;
    width: 50%; /* Ancho del borde */
    margin: auto; /* Centra el borde horizontalmente */
    margin-bottom: 20px;

}



.flex-container-orden-tasacion .form-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* Alinea horizontalmente al inicio */
    margin-bottom: 10px;
    margin-left: 80px;
    /* Alinea a la izquierda */
    /* Alinea a la derecha */
    width: 800px;
    /* Ancho máximo del contenedor */
}

.flex-container-orden-tasacion .form-group input[type="date"],
.flex-container-orden-tasacion .form-group input[type="number"] {
    width: 200px;
    /* Ancho deseado para los inputs de tipo date y number */
    height: 30px;
    font-size: 14px;
    font-weight: 600;
}


.flex-container-orden-tasacion .form-group label {
    color: #092b11;
    font-size: 16px;
    font-weight: 500;
    width: 120px;
    /* Ancho adecuado para los labels */
    text-align:start;
    /* Alinea el texto a la derecha */
    margin-right: 10px;
    /* Espacio entre el label y el input/select */
}




.flex-container-orden-tasacion .form-group select,
.flex-container-orden-tasacion .form-group input[type="text"] {
    flex: 1;
    /* El input/select ocupará todo el espacio disponible */
    height: 30px;
    font-size: 14px;
    font-weight: 600;
}

.flex-container-orden-tasacion .form-group select {
    height: 35px;
    appearance: menulist
}


/**************************ubicacion inmueble*********************************/



.flex-container-ubicacion-inmueble h4 {
    text-align: center;
    color: black;
    font-size: 25px;
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
}

.flex-container-ubicacion-inmueble .form-group {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

.flex-container-ubicacion-inmueble .form-group input[type="date"],
.flex-container-ubicacion-inmueble .form-group input[type="number"] {
    width: 200px;
    height: 30px;
    font-size: 14px;
    font-weight: 600;
}

.flex-container-ubicacion-inmueble .form-group label {
    color: #092b11;
    font-size: 16px;
    font-weight: 500;
    width: 120px;
    text-align: start;
}

.flex-container-ubicacion-inmueble .form-group select,
.flex-container-ubicacion-inmueble .form-group input[type="text"] {
    flex: 1;
    height: 30px;
    font-size: 14px;
    font-weight: 600;
}

.flex-container-ubicacion-inmueble .form-group select {
    height: 35px;
    appearance: menulist;
}








/**************************Observaciones*********************************/

.observacionesPre{
    max-width: 1300px; /* Puedes ajustar este valor según sea necesario */
    margin: auto; /* Centra el formulario horizontalmente */
    padding: 20px; /* Añade un poco de espacio alrededor del formulario */
    background-color: rgb(255, 255, 255); /* Borde inferior de 2px */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave */
    margin-bottom: 35px;
    border-radius: 5px;

}

.observaciones {
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.form-outline-observaciones h4{
    text-align: center;
    color:black;
    font-size: 25px;
    width: 20%; /* Ancho del borde */
    margin: auto; /* Centra el borde horizontalmente */
    margin-bottom: 30px;
    /*
    border-bottom: 2px solid rgba(1, 1, 50, 0.7); /* Borde inferior de 2px */
}

.form-outline-observaciones {
    width: 80%;
    text-align: center; /* Alinea el contenido horizontalmente */
    margin-bottom: 20px;
}


/**************************Boton Crear Orden*********************************/


.botonOrden{
    margin-top: 50px;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.botonOrden .btn{
    background-color: #01502f; 
    border-color: transparent; /* Elimina el borde */
}

.botonOrden .btn:hover {
    background-color: #02663b; 
}

.botonOrden .btn:active {
    background-color: #03150d; /* Cambia el color de fondo cuando se selecciona */
}